version: '3.8'

services:
  mongo:
    image: mongo:6.0
    container_name: mongo
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: example
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db

  app:
    build: .
    container_name: fastapi_app
    environment:
      MONGO_URI: "mongodb://root:example@mongo:27017/?authSource=admin"
      MASTER_DB: "master"
      JWT_SECRET: "change-me"
      ENV: "development"
    ports:
      - "8000:8000"
    depends_on:
      - mongo

volumes:
  mongo-data: